<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Danh sách người dùng</h2>
    </div>
  </div>

  <div>
    <table datatable="ng" dt-options="dtOptions" class="row-border hover" id="customers">
      <thead>
        <tr>
          <th>#</th>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Ngày tạo</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in ::users">
          <td>{{ $index + 1 }}</td>
          <td>
            <strong>{{ user.name }}</strong>
          </td>
          <td>{{ user.email}}</td>
          <td>{{ user.phone_number}}</td>
          <td>{{ user.created_at }}</td>
          <td>
            <button class="md-btn md-raised m-b-sm w-xs green" ng-click="edit(user)">Sửa</button>
            <button class="md-btn md-raised m-b-sm w-xs red" ng-click="delete(user)">Xoá</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
