<form name="form" class="form-validation" ng-submit="submit()">
    <div ng-show="message" class="alert alert-danger ng-binding">{{message}}</div>
    <div class="box">
        <div class="box-header">
            <h2>Đăng kí tài khoản</h2>
            <small>
                1. Chơi gian lận, lừa đảo, dupe, tên xấu - tục tĩu : sẽ bị khóa<br>
                2. Tuyệt đối cấm các tên nhạy cảm liên quan đến chính trị, tên giống hoặc gần giống với Admin để khiến
                người khác nhầm lẫn bạn là thành viên của Ban Quản Trị. Tài khoản vi phạm có thể bị block vĩnh viễn mà
                không cần báo trước tùy mức độ.<br>
                3. Tên account : là là tên tài khoản đăng nhập vào game cũng như quản lý trên web.
            </small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
            <div class="form-group">
                <label>Tên đăng nhập <em class="text-muted">(allow 'a-zA-Z0-9', 4-10 length)</em></label>
                <input type="text" class="form-control" ng-model="account" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required >
            </div>
            <div class="form-group">
                <label>Mật khẩu cấp 1</label>
                <input type="password" class="form-control" ng-model="pass1" required >
            </div>
            <div class="form-group">
                <label>Mật khẩu cấp 2</label>
                <input type="password" class="form-control" ng-model="pass2" required >
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="email" required >
            </div>
            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" class="form-control" placeholder="098xxxxxxx" ng-model="phone" ng-pattern="/^[0-9]{10,11}$/" required >
                <em class="text-muted">- SĐT giúp chứng minh bạn là chủ sở hữu thực sự của tài
                    khoản. Bạn có thể nhắn tin để lấy và thay đổi mọi thông tin acc (mật khẩu, email, sđt)<br>-
                    Chúng tôi chỉ chấp nhận sdt di động.</em>
            </div>
            <div class="checkbox">
                <label class="md-check">
                    <input type="checkbox" ng-model="agree" required><i class="blue"></i> Tôi đồng ý với <a href class="text-info">Các điều khoản trên</a>
                </label>
            </div>
        </div>
        <footer class="dker p-a text-right">
            <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Submit</button>
        </footer>
    </div>
</form>
