<div ng-if="res.status == 0" class="alert alert-danger ng-binding" ng-bind-html="res.message"></div>
<div ng-if="res.status == 1" class="alert alert-success ng-binding" ng-bind-html="res.message"></div>

<form ui-jp="parsley" ng-submit="submit()">
    <div class="box">
        <div class="box-header">
            <h2>Lấy lại mật khẩu cấp 1</h2>
            <small>
                1. Sử dụng số điện thoại đã đăng kí tài khoản để thay đổi mật khẩu<br>
                2. Tên account : là là tên tài khoản đăng nhập vào game cũng như quản lý trên web.
            </small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Tài khoản</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="account" class="form-control" maxlength="10" required placeholder="Tài khoản">
                    <em class="text-muted">Vui lòng gõ đúng ký tự chữ HOA chữ thường.</em>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Mật khẩu mới</label>
                <div class="col-sm-9">
                    <input type="password" ng-model="info_change" class="form-control" placeholder="Mật khẩu">
                </div>
            </div>
        </div>
        <div class="dker p-a text-right">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </div>

    <div class="register-panel text-center font-semibold ng-scope">
        <a ui-sref="app.login"><span class="menu-icon"><i class="fa fa-sign-in"></i> ĐĂNG NHẬP</span></a>
        -
        <a ui-sref="app.register">TẠO ACCOUNT MỚI<span class="menu-icon"><i class="fa fa-angle-double-right fa-fw"></i></span></a>
        <br><img src="assets/images/star_shining.gif" height="10px">
        <!--<a class="nav-link label accent" href="http://themeforest.net/user/flatfull/portfolio?ref=flatfull">Get it</a>-->
    </div>
</form>
